@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttc') format('truetype');
  }

@font-face {
  font-family: 'Dimkin';
  src: url('../fonts/Dimkin Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Signika Regular';
  src: url('../fonts/Signika-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'Signika Light';
  src: url('../fonts/Signika-Light.ttf') format('truetype');
}

@font-face{
  font-family: 'Papaya Sunrise';
  src: url('../fonts/papaya-sunrise.OTF') format('opentype')
}

@font-face {
  font-family: 'Arti';
  src: url('../fonts/Arti Regular.otf') format('opentype')
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Braind';
  src: url('../fonts/BraindGyumri.otf') format('opentype')
}


@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype')
}