.task-creating-wrapper{
    min-height: 2rem;
    width: 100%;
    padding: 0.5rem 0
}

.task-creating-form-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    input{
        width: 8rem;
    }
}

.habit-select-wrapper{
    display: flex;
    flex-direction: column;
    select{
        height: 100%;
        margin: 0 0.5rem;
        padding: 0 1rem;
        // width: 80%;  
        appearance: none;
    }
}